.createRob {
  display: flex;
  width: 236px;
  height: auto;
  padding: 12px 18px;
  justify-content: space-between;
  align-items: flex-start;
  background-color: rgba(255, 126, 34, 0);
  border-radius: 60px;
  border: 2px solid #FF7F22;
  box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.16);
}
.createRob p {
  margin: auto;
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  color: #FFF;
}
.createRob:hover {
  border: #FF5722;
  background: #FF5722;
}
.createRob:active {
  background: #FF7F22;
}
.createRob:disabled {
  border: #4C5865;
  color: #4C5865;
}

.installBut {
  display: flex;
  width: 236px;
  padding: 12px 60px;
  justify-content: space-around;
  align-items: flex-start;
  border: none;
  border-radius: 60px;
  background: linear-gradient(180deg, #FF7F22 0%, #FF5722 100%);
  box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.16);
  color: #FFF;
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 150% */
}
.installBut:hover {
  background: #FF5722;
}
.installBut:active {
  background: #FF7F22;
}
.installBut:disabled {
  background: #4C5865;
  color: #7D90A6;
}

.sellBut {
  margin-top: 24px;
  display: flex;
  width: 236px;
  padding: 12px 60px;
  justify-content: space-around;
  align-items: flex-start;
  border: none;
  border-radius: 60px;
  border: 2px solid #22B3E3;
  background-color: rgba(255, 86, 34, 0);
  box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.16);
  color: #22B3E3;
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 150% */
}
.sellBut:hover {
  background: #7CDAF9;
  border: 0px;
  color: #212529;
}
.sellBut:active {
  background-color: rgba(76, 88, 101, 0);
  color: #22B3E3;
  border: 2px solid #22B3E3;
}
.sellBut:disabled {
  background: rgba(76, 88, 101, 0);
  border: 2px solid #4C5865;
  color: #4C5865;
}

.byToCoinsBut {
  display: flex;
  width: 236px;
  height: auto;
  padding: 12px 18px;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(255, 126, 34, 0);
  border-radius: 60px;
  border: 2px solid #FF7F22;
  box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.16);
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  color: #FFF;
}
.byToCoinsBut:hover {
  border: #FF5722;
  background: #FF5722;
}
.byToCoinsBut:active {
  background: #FF7F22;
}
.byToCoinsBut:disabled {
  border: #4C5865;
  color: #4C5865;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #fff;
  height: 2467px;
  background: radial-gradient(82.33% 70.44% at 50% 0%, #26394D 0%, #212529 100%);
}

header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 48px;
  width: 1016px;
  margin: 0px auto;
  margin-top: 48px;
}

.content {
  width: 1016px;
  height: 2371px;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
}
.content .pageNum {
  margin-top: 144px;
  width: 24px;
  display: flex;
  flex-direction: column;
}
.content .pageNum .num {
  display: flex;
  width: 24px;
  height: 24px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #667380;
  text-align: center;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 200% */
  letter-spacing: 1.2px;
  text-transform: uppercase;
}
.content .pageNum .text {
  width: 24px;
  height: 80px;
  display: flex;
  writing-mode: vertical-rl;
  margin-top: 114px;
  color: #667380;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 200% */
  letter-spacing: 1.2px;
  text-transform: uppercase;
  transform: rotateY(180deg) rotateX(180deg);
}
.content .pageNum .symbol {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  margin-top: 8px;
}
.content .pageNum .two {
  margin-top: 131px;
}
.content .pageNum .three {
  margin-top: 316px;
}
.content .pageNum .four {
  margin-top: 462px;
}
.content .pageNum .five {
  margin-top: 364px;
}
.content .greetings {
  margin-top: 96px;
  margin-left: 106px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  height: 2275px;
  width: 886px;
}
.content .greetings .title {
  display: flex;
  height: 420px;
}
.content .greetings .title .mainText {
  width: 470px;
  height: 320px;
  margin: 0px 50px 0px 0px;
}
.content .greetings .title .mainText h1 {
  margin: 24px 0px;
  /* 1920 / H1 */
  font-family: Montserrat;
  font-size: 56px;
  font-style: normal;
  line-height: 72px; /* 128.571% */
}
.content .greetings .title .mainText p {
  width: 470px;
  margin-bottom: 24px;
  color: #A3B8CC;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px; /* 133.333% */
}
.content .greetings .title .windRobots {
  width: 366px;
  height: 320px;
  flex-shrink: 0;
  display: flex;
}
.content .greetings .title .windRobots .circle {
  width: 275px;
  height: 275px;
  flex-shrink: 0;
  margin: 4px 60px 41px 31px;
  border-radius: 275px;
  background: #1E2936;
}
.content .greetings .title .windRobots .robots1 {
  position: absolute;
  margin-left: 0px;
}
.content .greetings .title .windRobots .robots2 {
  position: absolute;
  margin-left: 196px;
  margin-top: 102px;
  transform: rotateY(180deg);
}
.content .greetings .mainContent {
  width: 756px;
  height: 1650px;
}
.content .greetings .mainContent .blockWallet {
  height: 340px;
}
.content .greetings .mainContent .blockWallet h2 {
  height: 40px;
  /* 1920/H2 */
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  line-height: 40px; /* 125% */
}
.content .greetings .mainContent .blockWallet .coins {
  margin-top: 60px;
  width: 750px;
  height: 20px;
}
.content .greetings .mainContent .blockWallet .textCoins {
  width: 310px;
  height: 24px;
  margin-top: 24px;
  display: flex;
  color: #A3B8CC;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
.content .greetings .mainContent .blockWallet .textCoins .numCoins {
  color: #A3B8CC;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 100% */
}
.content .greetings .mainContent .blockWallet .textCoins .nameProd {
  margin: 0 5px;
}
.content .greetings .mainContent .blockWallet .addCoins {
  width: 386px;
  height: 32px;
  margin-top: 40px;
  display: flex;
  align-items: center;
}
.content .greetings .mainContent .blockWallet .addCoins button {
  background: rgba(255, 255, 255, 0);
  border: 0;
  border-bottom: 1px solid rgba(255, 127, 34, 0.5);
  height: 24px;
  color: #FF7F22;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
}
.content .greetings .mainContent .blockWallet .addCoins input {
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  margin-left: 24px;
  margin-right: 8px;
}
.content .greetings .mainContent .blockWallet .addCoins .text {
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
}
.content .greetings .mainContent .blockMarket {
  width: 754px;
  height: 486px;
}
.content .greetings .mainContent .blockMarket h2 {
  height: 40px;
  /* 1920/H2 */
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  line-height: 40px; /* 125% */
}
.content .greetings .mainContent .blockMarket .products {
  margin-top: 60px;
  height: 317px;
  display: grid;
  grid-template-columns: 236px 276px 236px;
}
.content .greetings .mainContent .blockMarket .products .microchip {
  margin: 0px 20px;
}
.content .greetings .mainContent .blockMarket .products .name {
  margin-top: 25px;
  text-align: center;
  font-family: Montserrat;
  font-size: 20px;
  line-height: 32px;
}
.content .greetings .mainContent .blockMarket .products .price {
  color: #A3B8CC;
  margin-top: 8px;
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
}
.content .greetings .mainContent .blockStock {
  height: 372px;
}
.content .greetings .mainContent .blockStock h2 {
  height: 40px;
  /* 1920/H2 */
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  line-height: 40px; /* 125% */
}
.content .greetings .mainContent .blockStock .products {
  height: 317px;
  display: grid;
  grid-template-columns: 236px 276px 236px;
}
.content .greetings .mainContent .blockStock .products .microchip {
  margin: 0px 20px;
}
.content .greetings .mainContent .blockStock .products .name {
  margin-top: 60px;
  text-align: center;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
}
.content .greetings .mainContent .blockStock .products .price {
  margin-top: 5px;
  color: #A3B8CC;
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
}
.content .greetings .mainContent .blockStock .products .quantity {
  margin-top: 15px;
  text-align: center;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 120% */
}
.content .greetings .mainContent .blockProduction {
  display: flex;
  flex-wrap: wrap;
  height: 452px;
}
.content .greetings .mainContent .blockProduction .title {
  height: 72px;
  width: 100%;
  display: flex;
  align-items: center;
}
.content .greetings .mainContent .blockProduction .title h2 {
  height: 40px;
  /* 1920/H2 */
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  line-height: 40px; /* 125% */
}
.content .greetings .mainContent .blockProduction .production {
  min-height: 380px;
  width: 482px;
  margin-right: 38px;
  display: grid;
  grid-template-columns: 233px 249px;
}
.content .greetings .mainContent .blockProduction .production .radioBlock {
  margin-top: 60px;
  height: 164px;
}
.content .greetings .mainContent .blockProduction .production .configRob {
  margin: 64px 0px 0px 27px;
  height: 164px;
}
.content .greetings .mainContent .blockProduction .production .blockBy {
  margin-bottom: 31px;
  margin-top: 77px;
  width: 455px;
  display: flex;
}
.content .greetings .mainContent .blockProduction .production .blockBy .notifcation {
  width: 195px;
  margin-left: 24px;
}/*# sourceMappingURL=style.css.map */