.blockStock{
    @include H2;
    padding-bottom: 96px;
    margin-left: 106px;

    .products{
        margin-top: 60px;

        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        .name{
            text-align: center;
            font-family: Montserrat;
            font-size: 20px;
            font-style: normal;
            font-weight: 600;
            line-height: 32px;  
        }

        .price{
            @include price;
            margin-top: 5px;                        
        }

        .quantity{
            @include quan;
            margin-top: 15px;
            display: flex;
            justify-content: center;
        }
    }
}
