.createRob{
    display: flex;
    width: 236px;
    height: auto;
    padding: 12px 18px;
    justify-content: space-between;
    align-items: flex-start; 
    background-color: #ff7e2200;               

    // перенести в отдельный файл где будут прописаны стили
    border-radius: 60px;
    border: 2px solid #FF7F22;
    box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.16);

    p{
        margin: auto;

        text-align: center;
        font-family: Montserrat;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px;
        color: #FFF;    
    }

    &:hover{
        border: #FF5722;
        background: #FF5722;
    }

    &:active{
        background: #FF7F22;
    }

    &:disabled{
        border: #4C5865;
        color: #4C5865;
    }
}

.addCoinsBut{
    margin-top: 40px;
    background: #ffffff00;
    border: 0;
    border-bottom: 1px solid rgba(255, 127, 34, 0.50);
    height: 24px;

    color: #FF7F22;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    
    &:hover{
        border-bottom: 1px solid #FF5722;
        color: #FF5722;
    }

    &:active{
        color: #FF7F22;
    }

    &:disabled{
        color: #4C5865;
    }
}

.installBut{
    display: flex;
    width: 236px;
    padding: 12px 60px;
    justify-content: space-around;
    align-items: flex-start;

    border: none;
    border-radius: 60px;
    background: linear-gradient(180deg, #FF7F22 0%, #FF5722 100%);
    box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.16);

    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 150% */

    &:hover{
        background: #FF5722;
    }

    &:active{
        background: #FF7F22;
    }

    &:disabled{
        background: #4C5865;
        color: #7D90A6;
    }
}

.sellBut{
    margin-top: 24px;
    display: flex;
    width: 236px;
    padding: 12px 60px;
    justify-content: space-around;
    align-items: flex-start;

    border: none;
    border-radius: 60px;
    border: 2px solid #22B3E3;
    background-color: #ff562200;
    box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.16);

    color: #22B3E3;
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 150% */

    &:hover{
        background: #7CDAF9;
        border: 2px solid #7CDAF9;
        color: #212529;
    }

    &:active{
        background-color: #4c586500;
        color: #22B3E3;
        border: 2px solid #22B3E3;        
    }

    &:disabled{
        background: #4c586500;
        border: 2px solid #4C5865;
        color: #4C5865;
    }
}

.byToCoinsBut{
    display: flex;
    width: 236px;
    height: auto;
    padding: 12px 18px;
    justify-content: space-around;
    align-items: center; 
    background-color: #ff7e2200;
                
    // перенести в отдельный файл где будут прописаны стили
    border-radius: 60px;
    border: 2px solid #FF7F22;
    box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.16);

    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    color: #FFF;    

    &:hover{
        border: 2px solid #FF5722;
        background: #FF5722;
    }

    &:active{
        background: #FF7F22;
    }

    &:disabled{
        border: #4C5865;
        color: #4C5865;
    }
}

