@mixin H2($heig: 40px){
    h2{
        // width: 754px;
        /* 1920/H2 */
        font-family: Montserrat;
        font-size: 34px;
        // font-style: normal;
        // font-weight: 600;
        line-height: $heig; /* 125% */    }
    }

@mixin pageNav{
    color: #667380;
    text-align: center;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 200% */
    letter-spacing: 1.2px;
    text-transform: uppercase;    

}

@mixin greyText($fWeig: 500){
    color: #A3B8CC;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: $fWeig;
    line-height: 24px;

}

@mixin price{
    color: #A3B8CC;
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; 
}

@mixin notify{
    color: #A3B8CC;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; /* 133.333% */
}

@mixin radBl{
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 142.857% */
}

@mixin quan{
    text-align: center;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 120% */
}

@mixin variab{
    
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 133.333% */
}

@mixin creatBioBut{
    text-align: center;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    color: #FFF;    
}

@mixin upWindText{
    color: #4C5865;

    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;

    h3{
        width: 320px;

        color: #212529;

        font-size: 32px;
        font-style: normal;
        font-weight: 900;
        line-height: 40px;
    }
    
    p{
        width: 306px;
        padding-top: 23px;
    }

}