@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');
@import "buttons";
@import "textStyle";
@import "inputs";

@media screen and (max-width: 1024px) {
    .createRob{
        margin-left: 442px;              

    }

    .pageNum{
        visibility: hidden;
    }

    .mainText{
        width: 496px;
    }

    .windRobots{ 
        margin-left: 20px;   
        flex-shrink: 0;
        display: flex;

        .robots1{
            position: absolute;
            margin-left: 0px;
            width: 113px;
            height: 199px;

        }

        .robots2{
            position: absolute;
            margin-left:196px;
            margin-top: 102px;
            // width: 138px;
            // height: 195px;

            
            transform: rotateY(180deg);
        }
    }


}

@media screen and (max-width: 768px) {
    .createRob{
        margin-left: 182px;           

    }

    .mainText{
        width: 259px;

        // h1{
        //     font-size: 48px;
        //     line-height: 56px;
        //     margin: 0px 0px 0px 24px;
        // }
    }
}

@media screen and (max-width: 320px) {
    header{
        img{
            display: none;
        }
    }
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: #fff;
    background: radial-gradient(82.33% 70.44% at 50% 0%, #26394D 0%, #212529 100%);
}

.upWind{
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    background: #1e2936ca;

    >div{
        @include upWindText;
        background-color: #fff;
        border-radius: 10px;

        display: flex;
        padding: 8px 8px  40px 34px;

        img{
            width: 43px;
            height: 52px;
            margin-top: 25px;
        }
        .textQue{
            display: grid;
            grid-template-columns: 1fr;
            padding: 25px 62px 0px 29px;
        }
    }
}

.upGoodCreat{
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    background: #1e2936ca;

    >div{
        @include upWindText;
        background-color: #fff;
        border-radius: 10px;

        display: flex;
        padding: 8px 8px  40px 34px;

        img{
            width: 43px;
            height: 52px;
            margin-top: 25px;
        }
        .textQue{
            display: grid;
            grid-template-columns: 1fr;
            padding: 25px 62px 0px 29px;
        }
    }
}


header{
    display: flex;
    justify-content: center;
    max-width: 1016px;
    margin: 48px auto 0px;
}


.content{
    max-width: 1016px;
    margin: 0px auto;
    display: flex;

    .pageNum{
        margin-top: 144px;
        display: flex;
        flex-direction: column;

        .num{
            @include pageNav;

            display: flex;
            flex-direction: column;
            justify-content: center;
            flex-shrink: 0;
        }
        
        .text{
            @include pageNav;

            margin-top:123px; 

            display: flex;
            writing-mode:vertical-rl;
            transform: rotateY(180deg) rotateX(180deg);// 
        }

        .symbol{
            flex-shrink: 0;
            margin-top: 8px;
        }

        .two{
            margin-top: 131px;
        }
        
        .three{
            margin-top: 316px;
        }

        .four{
            margin-top: 462px;
        }

        .five{
            margin-top: 364px;
        }   
    }


    .greetings{

        padding: 96px 0px 0px 0px;

        .mainPage{
            display: flex;
            flex-wrap: wrap-reverse;
            margin-bottom: 100px;
            margin-left: 106px;

            .mainText{
                max-width: 470px;

                h1{
                    margin: 24px  0px;
                    font-family: Montserrat;
                    font-size: 56px;
                    font-style: normal;
                    line-height: 72px; /* 128.571% */
                }
    
                p{  
                    @include greyText(600);    
                }   
            }
    
            .windRobots{ 
                margin-left: 50px;   
                flex-shrink: 0;
                display: flex;
    
                .circle{
                    width: 275px;
                    height: 275px;

                    flex-shrink: 0;
                    margin: 4px 60px 41px 31px;
        
                    border-radius: 275px;
                    background: #1E2936;
                }
                .robots1{
                    position: absolute;
                    margin-left: 0px;
                }
    
                .robots2{
                    position: absolute;
                    margin-left:20px + 176px;
                    margin-top: 102px;
                    
                    transform: rotateY(180deg);
                }
            }
        }

        // .mainContent{

            .blockWallet{
                @include H2;
                margin-bottom: 96px;
                margin-left: 106px;
                .coins{
                    display: flex;
                    margin-top: 60px;
                    flex-wrap: wrap;
                    position: relative;
                    height: 20px;
                    margin-bottom: 24px;
                    .money{
                        display: inline-block;
                        position: absolute;
                    }                
                }
                

                .textCoins{
                    @include greyText;    

                    display: flex;

                    .numCoins{
                        @include greyText(700);    
                    }
                    .nameProd{
                        margin: 0 5px;
                    }
                }
            }

            .blockMarket{
                @include H2;

                padding-bottom: 100px;
                margin-left: 106px;

                .products{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-around;
                    
                    img{
                        margin-top: 60px;
                    }
                
                    .name{
                        margin-top: 25px;

                        text-align: center;
                        font-family: Montserrat;
                        font-size: 20px;
                        font-weight: 600;
                        line-height: 32px;  
                    }

                    .price{
                        @include price;
                        margin-top: 5px;
                        margin-bottom: 24px;
                        display: flex;
                        justify-content: center;
                        
                        div{
                            margin: 0 4px;
                        }
                    }
    
                }
            }

            .blockStock{
                @include H2;
                padding-bottom: 96px;
                margin-left: 106px;

                .products{
                    margin-top: 60px;

                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-around;

                    .name{
                        text-align: center;
                        font-family: Montserrat;
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 32px;  
                    }

                    .price{
                        @include price;
                        margin-top: 5px;                        
                    }
    
                    .quantity{
                        @include quan;
                        margin-top: 15px;
                        display: flex;
                        justify-content: center;
                    }
                }
            }

            .blockProduction{
                @include H2(72px);
                padding-bottom: 236px;
                margin-left: 106px;

                .prodPrev{
                    display: flex;
                    flex-wrap: wrap-reverse;

                    .production{
                        margin-top: 40px;
                        display: flex;
                        flex-wrap: wrap;
                        max-width: 482px;        
    
                        .blockBy{
                            display: flex;
                            flex-wrap: wrap-reverse;
                            // display: inline-block;
    
                            .notification{
                                @include notify;
                                width: 195px;
                                margin-left: 24px;
                                margin-top: 20px;
                            }
                        }
                    }

                    // .image{
                    //     width: 236px;
                    //     height: 320px;
                    //     background: url(/public/image/sprait_BioRob/robots.png) no-repeat;
                    //     background-position: -246px -330px;
                    //     background-size: (236px * 4) (320px * 3);
                    // }
                }
            }
        // }
    }
}





    