@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');
@import "buttons";
@import "textStyle";
@import "inputs";
@import "blockWallet";
@import "blockMarket";
@import "blockStock";
@import "blockProduction";
@import "mainPage";

@media screen and (max-width: 1024px) {
    .createRob{
        margin-left: 442px;              

    }

    .pageNum{
        visibility: hidden;
    }

    .mainText{
        width: 496px;
    }

    .windRobots{ 
        margin-left: 20px;   
        flex-shrink: 0;
        display: flex;

        .robots1{
            position: absolute;
            margin-left: 0px;
            width: 113px;
            height: 199px;

        }

        .robots2{
            position: absolute;
            margin-left:196px;
            margin-top: 102px;
            // width: 138px;
            // height: 195px;

            
            transform: rotateY(180deg);
        }
    }


}

@media screen and (max-width: 768px) {
    .createRob{
        margin-left: 182px;           
    }

    .mainText{
        width: 259px;

        // h1{
        //     font-size: 48px;
        //     line-height: 56px;
        //     margin: 0px 0px 0px 24px;
        // }
    }
}

@media screen and (max-width: 320px) {
    header{
        img{
            display: none;
        }
    }
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: #fff;
    background: radial-gradient(82.33% 70.44% at 50% 0%, #26394D 0%, #212529 100%);
}

.upWind{
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    background: #1e2936ca;

    >div{
        @include upWindText;
        background-color: #fff;
        border-radius: 10px;

        display: flex;
        padding: 8px 8px  40px 34px;

        img{
            width: 43px;
            height: 52px;
            margin-top: 25px;
        }
        .textQue{
            display: grid;
            grid-template-columns: 1fr;
            padding: 25px 62px 0px 29px;
        }
    }
}

.upGoodCreat{
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    background: #1e2936ca;

    >div{
        @include upWindText;
        background-color: #fff;
        border-radius: 10px;

        display: flex;
        padding: 8px 8px  40px 34px;

        img{
            width: 43px;
            height: 52px;
            margin-top: 25px;
        }
        .textQue{
            display: grid;
            grid-template-columns: 1fr;
            padding: 25px 62px 0px 29px;
        }
    }
}

header{
    display: flex;
    justify-content: center;
    max-width: 1016px;
    margin: 48px auto 0px;
}

.content{
    max-width: 1016px;
    margin: 0px auto;
    display: flex;

    .pageNum{
        margin-top: 144px;
        display: flex;
        flex-direction: column;

        .num{
            @include pageNav;

            display: flex;
            flex-direction: column;
            justify-content: center;
            flex-shrink: 0;
        }
        
        .text{
            @include pageNav;

            margin-top:123px; 

            display: flex;
            writing-mode:vertical-rl;
            transform: rotateY(180deg) rotateX(180deg);// 
        }

        .symbol{
            flex-shrink: 0;
            margin-top: 8px;
        }

        .two{
            margin-top: 131px;
        }
        
        .three{
            margin-top: 316px;
        }

        .four{
            margin-top: 462px;
        }

        .five{
            margin-top: 364px;
        }   
    }

    .greetings{

        padding: 96px 0px 0px 0px;
        // .mainContent{



        // }
    }
}





    